$blue: #2d68b2;
$dark-blue: #2b3087;
$light-blue: #9ab8ff;
$brand-primary: $blue;

@import 'bootstrap';


/* ==========================================================================
   Globals
   ========================================================================== */
body {
    background: $blue;
    padding-bottom: 20px;
}
img {
    max-width: 100%;
    height: auto;
}

.container-fluid {
    max-width: 1170px;
}
.inner-section {
    margin: 0 auto;
    padding: 20px 0;
    width: 95%;
}

.box-w-shadow {
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0, .5); 
}

/* ==========================================================================
   Header
   ========================================================================== */
.site-header {
    margin: 0 0 50px 0;
    padding: 10px 0;
}

.joker-logo {
    img {
        max-width: 90px;
    }
    .symbol {
        max-height: 100px;
        float: left;
    }
    .text {
        margin: 30px 0 0 10px;
        max-height: 43px;
    }
}
.club-logo {
    width: 50px;
    max-height: 100px;
}

.alert {
    background: $blue;
    color: white;
    //border: 2px solid $dark-blue;
    text-align: center;
}

/* ==========================================================================
   Lottlistan
   ========================================================================== */
.lot-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.lot-number {
    float: left;
    display: block;
    background: $light-blue;
    border: 1px solid white;
    text-align: center;
    color: $dark-blue;
    width: 20%;
    &:hover {
        background: $blue;
        color: white;
        cursor: pointer;
    }
    &.reserved {
        background: $dark-blue;
        color: white;
    }
    &.taken {
        opacity: .2;
    }
    label {
        margin: 0;
        height: 100px;
        display: block;
        font-weight: normal;
    }
    input {
        display: none;
    }
    h3 {
        margin: 0;
        line-height: 100px;
    }
}

@media (min-width: 568px) {
    .site-header {
        margin: 0 0 100px 0;
    }
    .joker-logo {
        img {
            max-width: none;
        }
    }
    .club-logo {
        width: 100%;
        max-height: 100px;
    }
    .inner-section {
        padding: 40px 0;
    }
    .lot-number {
        width: 10%;
    }
}